@font-face {
  font-family: "Salsa";
  src: url("Salsa-Regular.ttf") format("truetype");
}

body {
  margin: 0;
}

.main-backgroundgrey {
  background-color: #e3e3e3;
  height: 100vh;
  display: flex;
}

.main-backgroundblue {
  width: 1000px;
  height: 100vh;
  background: linear-gradient(
      180deg,
      rgba(37, 37, 37, 0.5) 0%,
      rgba(37, 37, 37, 0) 100%
    ),
    #179de8;
  margin: auto;
}

.main-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.main-logo-style {
  height: 153px;
  border-radius: 96px;
  background: linear-gradient(
    180deg,
    rgba(219, 200, 113, 0.2) 66.67%,
    rgba(0, 0, 0, 0) 100%
  );
}

.main-police-title {
  z-index: 1;
  font-family: Salsa;
  font-style: normal;
  font-weight: bolder;
  font-size: 40px;
  line-height: 44px;
  color: #179de8;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.main-mot-police {
  font-family: Salsa;
  font-style: normal;
  font-weight: bolder;
  font-size: 36px;
  line-height: 44px;
  color: #f7f7f7;
}

.main-actor-screen {
  height: 300px;
  width: 300px;
  background: #f7f7f7;
  outline: 10px solid #252525;
  border-radius: 2px;
}

.main-film-screen {
  height: 300px;
  width: 300px;
  background: #f7f7f7;
  outline: 10px solid #252525;
  border-radius: 2px;
}

.main-mp3-screen-launcher {
  height: 60px;
  width: 734px;
  background: #f7f7f7;
  outline: 10px solid #252525;
  border-radius: 2px;
}

.main-actor-settings {
  margin-top: 10px;
  height: 56px;
  width: 180px;
  background-color: #e3e3e3;
  outline: 10px solid #252525;
  border-radius: 2px;
}

.main-actor-settings-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 12px;
}

.main-film-settings {
  margin-top: 10px;
  height: 56px;
  width: 230px;
  background-color: #e3e3e3;
  outline: 10px solid #252525;
  border-radius: 2px;
}

.main-actor-container {
  margin-top: 125px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-film-container {
  margin-top: 125px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-mp3-container {
  margin-top: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.main-mp3-screen-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.main-container-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main-mp3-title-container {
  z-index: 1;
  margin-left: 150px;
}

.main-actor-setting-search {
  cursor: pointer;
}

.main-actor-settings-search-container {
  background-image: url("./assets/search.svg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  padding: 25px 25px;
  margin-top: 3px;
  cursor: pointer;
}

.main-mot-container {
  height: 50px;
  width: 240px;
  background-color: #252525;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-film-screen-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.main-film-settings-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
